[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
googlesheets = {editable = true,path = "."}

[packages]
google-auth = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
google-api-python-client = "*"

[requires]
python_version = "3.8"
